.imagen__perfil{
    width: 600px;
    height: 400px;
    border-radius: 1rem;
    padding-top: 2.5rem;
}
.alineamiento{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__personal{
    display: flex;
    justify-content: space-around;
    padding: 5rem 0rem;
    width: 100%;
}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3.5rem;
}
.firma__presentacion{
    width: 450px;
    height: 250px;
}
.parrafo__presentacion{
    display: flex;
    text-align: center;
    width: 600px;
    font-size: 1.5rem;
}
@media screen and (max-width:480px){
    .info__personal{
        justify-content: center;
        padding: 1rem;
        width: 250px;
    }
    .imagen__perfil{
        width: 0px;
        height: 0px;
    }
    .presentacion{
        padding-top: 1rem;
    }
    .parrafo__presentacion{
        width: 300px;
        font-size: 1rem;
    }
    .firma__presentacion{
        width: 300px;
        height: 100px;
    }

}
@media only screen and (max-width: 1370px){
    .info__personal{
        padding: 2.5rem 0rem;
    }
    .imagen__perfil{
        width: 500px;
        height: 300px;
    }
    .firma__presentacion{
        width: 15rem;
        height: 13rem;
    }
}