
.footer{
    background-color: #1b263b;
}
.info__footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}
.lista__datos{
    display: flex;
    flex-direction: column; 
}
.imagen__contacto{
    width: 300px;
}
.descripcion__formacion__contacto{
    font-size: 1.5rem;
}
.texto__formulario{
    font-size: 1.2rem;
    padding: 0.7rem 0;
}
.input__texto{
    padding: 1rem;
}
.posicion__boton{
    display: flex;
    justify-content: center;
    width: 100%;
}
  .enviar__mensaje {
    margin: 1rem;
    width: 40%;
    padding: 15px 0px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #f7dba7;
    color: #1b263b;
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .enviar__mensaje:hover {
    box-shadow: 0 0 40px 40px #f1c40f inset;
  }
  .enviar__mensaje:active {
    box-shadow: 0 0 40px 40px #de9e36 inset;
  }

.footer__proyecto{
    display: flex;
    justify-content: center;
    background-color: #0c0f0a;
    font-size: 1.5rem;
    color: #ffbf00;
    padding: 1rem;
}
@media screen and (max-width:480px){
    .imagen__contacto{
        background-image: none;
        width: 0px;
    }
    .info__footer{
        padding: 1rem 1rem;
    }
    .input__texto{
        padding: 0.55rem;
    }
    .footer__proyecto{
        font-size: 1rem;
        text-align: center;
    }
}