.header{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    margin: 1rem 0rem;
    position: fixed;
    background-color: black;
    width: auto;
    left: 0.6rem;
    right: 0.6rem;
    border-radius: 2rem;
    border: 2px solid #0fa3b1;
    padding: 0.7rem 1.3rem;
}
.header__principal{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #001524;
    padding: 9.2rem 0rem;
}
.foto__perfil{
    background-size: auto;
    height: 600px ;
}

.lista__presentacion{
    display: flex;
    justify-content: space-evenly;
}
.presentacion__principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    width: 750px;
}
.imagen__redes{
    padding: 3rem 1rem;
    width: 100px;
}
.imagen__redes:hover{
    transform: scale(1.15);
}

.links{
    display: flex;
    justify-content: space-evenly;
}
.items__links__mobile{
    display: none;
    visibility: hidden;
}
.link__navegacion{
    padding-left: 2rem;
    color: #D4AF37;
}
.link__navegacion:hover{
    transform: scale(1.2);
    color: #979dac;
}
.nombre__principal{
    display: flex;
    justify-content: flex-start;
}
.logo__leon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32px;
    height: 32px;
}
.titulo__principal{
    padding-left: 0.5rem;
    color: #D4AF37; 
}
@media screen and (max-width:480px){
    .header{
        justify-content: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0.1rem 0rem 0rem 0rem;
        border-radius: 0;
        border: 0px;
        width: auto;
        left: 0rem;
        right: 0rem;
        height: 50px;
        border-radius: 0rem 0rem 2.5rem 2.5rem;
    }
    .items__links{
        display: none;
        visibility: hidden;
    }
    .items__links__mobile{
        background-color: #0b090a;
        border-radius: 2rem;
        border: 2px solid #ffd60a;
        padding: 0.4rem 0rem 0.1rem 0rem;
        display: flex;
        visibility: visible;
        justify-content: space-evenly;
    }
    .imagen__header__mobile{
        filter: invert(100%);
        width: 25px;
        padding: 0rem 0.1rem 0.2rem 0rem;
    }
    .nombre__principal{
        display: none;
        visibility: hidden;
    }
    .logo__leon{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 32px;
        height: 32px;
    }
    .logo__leon{
        display: inline;   
        padding-right: 2rem;
        height: 30px;
    }
    .presentacion__perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0rem;
    }
    .link__navegacion{
        padding: 0rem 0.3rem;
        font-size: 0.5rem;
    }
    .header__principal{
        display: flex;
        align-items: center;
        background: #001524;
        padding: 3.8rem 0.5rem 1.5rem 0.5rem;
    }
    .foto__perfil{
        background-size: auto;
        height: 200px;
    }

    .lista__presentacion{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 1rem;
    }
    .presentacion__principal{
        font-size: 0px;
        width: 0px;
        visibility: hidden;

    }
    .imagen__redes{
        padding: 0.5rem 0.5rem;
        width: 35px;
    }
    .links{
        padding: 0.5rem;
    }

    
}