.lista__personal{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 8.8rem 0rem;
}
.items__personal{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    margin: 1rem; 
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    border: 5px solid #d3d3d3;
}
.items__personal:hover{
    transform: scale(1.1);
    border: 9px solid #deb841;
}
.items__personal:active{
    border-color: #ffe66d;
}

.titulo__personal{
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
}
.boton__web{
    margin: 1rem;
    width: 100px;
    padding: 15px 0px;
    font-size: 1rem;
    font-weight: bold;
    color: #f0efeb;
    background-color: #ffb703;
    border: none;
    border-radius: 5px;
}
.no__boton{
    padding: 1.5rem 0rem;
    font-size: 2rem;
}
@media screen and (max-width:480px){
    .lista__personal{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 0rem;
    }
    .items__personal{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        margin: 1rem; 
        padding: 1rem 0.3rem;
        border-radius: 1rem;
        border: 5px solid #d3d3d3;
    }
    .icono__personal{
        width: 100px;
        height: 100px;
    }
    .titulo__personal{
        font-size: 1rem;
        padding-bottom: 0.5rem;
    }
    .boton__web{
        margin: 0.3rem 0rem;
        width: auto;
        padding: 5px 5px;
        font-size: 1rem;
        font-weight: bold;
        color: #f0efeb;
        background-color: #ffb703;
        border: none;
        border-radius: 5px;
    }
    .no__boton{
        padding: 0.5rem 0rem;
        font-size: 0.7rem;
    }
}