html{
    scroll-behavior: smooth;
}
.app{
    color: #ffbf00;
    background: #0c0f0a;
    font-family: 'Slabo 13px', serif;

}
.content{
    background: #1b263b;
}
.titulo__secundario{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    padding: 6rem 0;
      background-image: linear-gradient(
        0deg,
        hsl(219deg 37% 17%) 0%,
        hsl(207deg 81% 25%) 20%,
        hsl(180deg 80% 35%) 40%,
        hsl(180deg 80% 35%) 60%,
        hsl(207deg 81% 25%) 80%,
        hsl(219deg 37% 17%) 100%
      );
}
@media screen and (max-width:480px){
    .titulo__secundario{
        text-align: center;
        font-size: 2.5rem;
        padding: 3.3rem 0rem 2.5rem 0rem;
        background-color: #0d1b2a;
        border-radius: 0rem 0rem 1rem 1rem;
    }
}
@media only screen and (max-width: 1370px) and (min-width: 1200px){
    .titulo__secundario{
        display: flex;
        justify-content: center;
        font-size: 4rem;
        padding: 6rem 0rem 3.5rem 0rem;
        background-color: #0d1b2a;
    }
}
