html{
    scroll-behavior: smooth;
}
.app{
    color: #ffbf00;
    background: #0c0f0a;
    font-family: 'Shadows Into Light', cursive;
}
.content{
    background: #1b263b;
}
.titulo__secundario{
    display: flex;
    justify-content: center;
    font-size: 7rem;
    padding: 6rem 0;
    background-color: #0d1b2a;
}
@media screen and (max-width:480px){
    .titulo__secundario{
        font-size: 1.5rem;
        padding: 1rem 0rem;
        background-color: #0d1b2a;
    }
}